/* Estilos para a página inicial (home) */
.main-home {
    flex: 1;
    padding: 6rem 2rem 2rem; /* Ajuste o padding superior para acomodar o header fixo */
    margin-top: 0; /* Garantir que o conteúdo não fique escondido atrás do header */
}

.carousel {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel img {
    width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.grid-item {
    background: #ffffff; /* Fundo branco */
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
}

